################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/lol-offset-dump
/README.md
/x64/Release
/lol-offset-dump/x64/Release
/retrm
